<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<!-- <intercept-url pattern="/loginPage" access="permitAll" /> -->
		<intercept-url pattern="/secured/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/home" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		
		<form-login login-page="/loginPage" login-processing-url="/login"
			default-target-url="/home" authentication-failure-url="/loginPage?auth=fail"
			username-parameter="username" password-parameter="password" />
			
		<logout logout-url="/logout" logout-success-url="/logoutPage" />
		
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="bob" password="123456" authorities="ROLE_USER" />
				<user name="alice" password="123456" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>